body{
    margin: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}
img{
    width: 150px;
    height: 150px;
    margin: 15px;
    border-radius: 50%;
}
.card{
    width: 310px;
    height: 400px;
    background-color: rgb(229, 216, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 20px;
    text-align: center;
    position: relative;
}
.rate_icon{
    height: 15px;
    width: 15px;
    margin: 5px 0 5px 2px;
    border-radius: 0;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 5px;
    margin: 10px;
    width: 250px;
    border: 3px dotted #DD2A73;
    border-radius: 20px;
}
.rate{
    display: flex;
    /* height: 20px; */
    justify-content: center;
    align-items: center;
}
.heart{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 60px;
    top: 140px;
    border-radius: 0;
}